*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* header starts here */
.container{
    background: url(../Dr.Reddy_lab/images/Dr_reddy.jpg) no-repeat center center/cover;
    padding-bottom: 500px;
}
div[class*="nav"] , ul, .globe{
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.nav1{
    /* margin: 15px 0 0; */
    padding: 15px 30px;
    justify-content: center;
    gap: 15px;
    color: gray;
}
.logo{
    padding-right: 300px;
}
.nav2{
    justify-content:left;
    padding: 20px 120px;
}
ul{
    gap: 30px;
}
li{
    list-style-type: none;
}
.globe{
    border-left: 2px solid black;
    padding-left: 10px;
    gap: 10px;
}
.home{
    width: 100%;
    background-color: #fff;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    display: none;
}
#home:hover + .home{
    display: block;
}
/* header ends here */

/* section1 starts here */

.wrapper1{
    display: flex;
    padding: 100px;
}
.col-50{
    width: 50%;
}

/* section1 ends here */