/* media Query for max-width 992px */

@media (max-width: 992px) {
    /* media query header starts here */

    header{
        background: url(../SushiPSD/Image/Background.png) no-repeat center center/cover;
    }
    .toolbar{
        font-size: 22px;
    }
    .col-50{
        font-size: 21px;
    }
    h1{
        font-size:70px;
    }
    .col-50 h1,p{
        padding-bottom: 7px;
    }
    /* media query header ends here */

    /* media query section1 starts here */

    .popular{
        font-size: 17px ;
    }
    .popular h2{
        font-size: 43px;
    }
    .sushi{
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 50px;
        font-size: 15px;
    }
    div[class*="image"]{
        height: 170px;
        width: 170px;
        margin-left: 10px;

    }
    .shape1{
        top: -40px;
        right: -40px;
    }
    .shape2{
        display: none;
    }
    .shape3{
        top: 780px;
        left: 50px;
    }
    .shape4{
        top: 450px;
        right: -18px;
    }
    .shape5{
        top: -15px;
        left: 150px;
    }
    .shape6{
        top: 280px;
        left: -90px;
    }

    /* media query section1 ends here */

    /* media query section2 starts here */

    .container2{
        padding:60px;
    }
    .wrapper01{
        font-size: 20px;
    }
    div[class*="circle"]{
        height: 300px;
        width: 300px;
    }
    .s1{
        top: -15px;
        right: 15px;
    }
    .s2{
        bottom: 15px;
        left: -10px;
    }
    .s3{
        top: 70px;
        left: 70px;
    }
    .s4{
        top: 70px;
        left: 550px;
    }
    .s5{
        bottom: -20px;
        right: -30px;
    }
    /* media query section2 ends here */

    /* media query section3 starts here */

    .maintext{
        font-size: 20px;
        padding-top: 100px;
    }
    .maintext h2{
        font-size: 45px;
    }
    .col-33{
        height: 170px;
        width: 170px;
    }
    .col-33 h3{
        font-size: 43px;
    }
    .col-33 p{
        font-size: 23px;
    }
    .A1{
        bottom: -80px;
        left: 250px;
    }
    .A2{
        top: 170px;
        left: 10px;
    }
    .A4{
        display: none;
    }
    .A5{
        top: 10px;
        left: 70px;
    }
    .A6{
        top: 40px;
        right: 40px;
    }
    /* media query section3 ends here */

    /* media query section4 starts here */

    .B1{
        bottom: 10px;
        right: -20px;
    }
    .B2{
        top: -60px;
        left: 50px;
    }
    .B3{
        top: 70px;
        right: 70px;
    }
    .B4{
        top: 100px;
        left: 460px;
    }
    .B5{
        bottom: -50px;
        left: 300px;
    }
    /* media query section4 ends here */

    /* media query section5 starts here */

    .barry h5{
        font-size: 33px;
        margin-bottom: 25px;
    }
    .barry p{
        font-size: 23px;
    }

    /* media query section5 ends here */

    /* media query section6 starts here */
    .update h4{
        font-size: 53px;
    }
    .update p{
        font-size: 25px;
    }
    .update input{
        font-size: 13px;
        padding: 18px 150px 19px 40px;
        bottom: 150px;
        left: 300px
    }
    .update button{
        font-size: 13px;
        bottom: 100px;
        right: 280px;
    }
    .c1{
        bottom: 0px;
        right: 0px;
    }
    .c2{
        top: -30px;
        left: 180px;
    }
    .c3{
        display: none;
    }
    .c4{
        bottom: 210px;
        left: 70px;
    }
    .c5{
        bottom: 10px;
        left: 500px;
    }
    .c6{
        top: 10%;
        right: 15%;
    }


    /* media query section6 ends here */

    /* media query footer starts here */

    .container5{
        font-size: 16px;
    
    }
    /* media query footer starts here */

}



